CompraComponentes/CompraComponentes/Web References/ServicioNuevoUsuario/ServicioCrearUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NuevoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoUsuarioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NuevoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:NuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="NuevoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:NuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioCrearUsuarioSoap">
    <wsdl:operation name="NuevoUsuario">
      <wsdl:input message="tns:NuevoUsuarioSoapIn" />
      <wsdl:output message="tns:NuevoUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCrearUsuarioSoap" type="tns:ServicioCrearUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/NuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioCrearUsuarioSoap12" type="tns:ServicioCrearUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevoUsuario">
      <soap12:operation soapAction="http://tempuri.org/NuevoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCrearUsuario">
    <wsdl:port name="ServicioCrearUsuarioSoap" binding="tns:ServicioCrearUsuarioSoap">
      <soap:address location="http://localhost:50203/ServicioCrearUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioCrearUsuarioSoap12" binding="tns:ServicioCrearUsuarioSoap12">
      <soap12:address location="http://localhost:50203/ServicioCrearUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>