CompraComponentes/CompraComponentes/Web References/ServicioLoggin/ServicioLoggin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InicioSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InicioSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InicioSesionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InicioSesionSoapIn">
    <wsdl:part name="parameters" element="tns:InicioSesion" />
  </wsdl:message>
  <wsdl:message name="InicioSesionSoapOut">
    <wsdl:part name="parameters" element="tns:InicioSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioLogginSoap">
    <wsdl:operation name="InicioSesion">
      <wsdl:input message="tns:InicioSesionSoapIn" />
      <wsdl:output message="tns:InicioSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioLogginSoap" type="tns:ServicioLogginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InicioSesion">
      <soap:operation soapAction="http://tempuri.org/InicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioLogginSoap12" type="tns:ServicioLogginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InicioSesion">
      <soap12:operation soapAction="http://tempuri.org/InicioSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLoggin">
    <wsdl:port name="ServicioLogginSoap" binding="tns:ServicioLogginSoap">
      <soap:address location="http://localhost:50203/ServicioLoggin.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioLogginSoap12" binding="tns:ServicioLogginSoap12">
      <soap12:address location="http://localhost:50203/ServicioLoggin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>